@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
/*    background-image: url('curtain_bg.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.container {
    height: 100%;
}

aside {
    z-index: 9999;
}

.laside {
    position: absolute;
    top: 0px;
    left: 0px;
}

.raside {
    position: absolute;
    top: 0px;
    right: 0px;
}

.section {
    width: 100%;
}

.content {
    height: 670px;
    position: relative;
    transform: translateY(30%);
    margin: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

/* main.html */

.slide {
    width: 1050px;
    height: 400px;
    clear: both;
    
    margin: auto;
    position: relative;

    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;

}
.slide .slide-item {
    display: inline-block;
    opacity: 50%;
    margin-left: 20px;
    margin-right: 20px;
    cursor: default;
}

.slide-item.active {
    opacity: 100%;
    cursor: pointer;
}

.buttons {
    width: 100%;
    height: 15px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.buttons .button {
    display: inline-block;
    border-radius: 40%;
    width: 15px;
    height: 15px;
    background-color : #FAFAFA;
    opacity: 50%;
    margin-top: 30px;
    cursor: pointer;
}

.button.active {
    background-color: white;
    opacity: 100%;
}

/* martion.html, maninthedark.html, whiplash.html */

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

#edge.wrapper {
    margin: 0;
}

#edge .box {
    overflow: hidden;
    position: fixed;
    z-index: 999;
    transform: translateY(300%);
    margin-left: 8px;
    width: 15px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: width 0.7s;
}

#edge .box:hover {
    width: 323px;
}

#edge .box div {
    display: inline-block;
    margin: 0;
}

#edge .box img {
    display: none;
    width: 90px;
    height: 130px;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.4;
}

#edge .box:hover img {
    display: inline-block;
}

#edge .box img:hover {
    opacity: 1;
    cursor: pointer;
}

#movieInfo h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    margin-bottom: 20px;
}

#movieInfo div {
    color: white;
}

.movie-info .info-area {
    float: left;
    width: 70%;
    display: inline-block;
    margin: 8px;
    margin-bottom: 20px;
    margin-right: 35px;
}

.movie-info .poster {
    display: inline-block;
    margin-left: 20px;
}

.movie-info .release-date {
    float: right;
    margin-right: 10px;
    transform: translateY(132%);
}

.movie-info .info {
    border-left: 3px solid rgba(255, 255, 255, 0.9);
    padding-left: 5px;
    margin-bottom: 3px;
}

.movie-info .summary {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.25;
}

.movie-info .summary #summary_main_font-style {
    font-weight: bold;
    margin-bottom: 7px;
}

.movie-info .hashtag {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.25;
}

.movie-info .button-box {
    margin-top: 15px;
}

.movie-info .movie-button {
    display: inline-block;
    width: 49.17%;
    height: 60px;
    margin-bottom: 10px;
}

.movie-info #movie-button1 {
    margin-right: 8px;
    background-color: #a64b20;
}

.movie-info #movie-button1:hover {
    background-color: #75391e;
}

.movie-info #movie-button2 {
    margin-right: 0px;
    background-color: #ae3022;
}

.movie-info #movie-button2:hover {
    background-color: #6b261e;
}

.movie-info .movie-button button {
    display: inline-block;
    font-size: 18px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.movie-info .movie-button button:hover {
    font-size: 18.2px;
    font-weight: 800;
}

#carousel h1 {
    color: white;
    font-size: 40px;
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}

.carousel-wrapper {
    width: 100%;
}

.carousel-wrapper div {
    margin: 8px;
}

.carousel-wrapper div img {
    width: 100%;
}

.wrapper#recmdMovies {
    color: #FFFFFF;
}

#recmdMovies h1 {
    color: white;
    font-size: 40px;
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}

.recmd-movies {
    width: 100%;
    margin: auto;
    margin-top: 24px;
}

.recmd-movies .movie {
    width: 266px;
    display: inline-block;
    color: #FFFFFF;
    margin: auto;
    margin-left: -6px;
    margin-right: 39px;
}

.recmd-movies .movie:first-child {
    margin-left: 0px;
}

.recmd-movies .movie:last-child {
    margin-right: 0px;
}

.recmd-movies .movie .poster-area {
    width: 100%;
    height: 100%;
}

.recmd-movies .movie .poster-area img {
    width: 100%;
    height: auto;
}

.recmd-movies .movie .movie-body {
    margin-top: 6px;
    padding: 0px 6px;
    line-height: 24px;
}

.recmd-movies .movie .title {
    font-size: 24px;
    font-weight: bold;
    display: inline;
}

.recmd-movies .movie .release-date {
    float: right;
}

.recmd-movies .movie .director {
    clear: left;
}

a,
a * {
    text-decoration: none;
}

.container .wrapper {
    margin-top: 100px;
}

.container .wrapper:last-child {
    margin-bottom: 100px;
}

.slick-prev img, 
.slick-next img {
    width: 30px;
}

.slick-prev::before,
.slick-next::before {
    content: "";
}
.footer{
    width: 100%;
}

.footer-content {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    border-top: 1px solid #FFFFFF;
    
    padding-top: 40px;
    padding-bottom: 60px;
    color: #FFFFFF;
    line-height: 24px;
}

/* 모바일에 사용될 스타일 시트 */
@media screen and (max-width: 1180px) {
    
    /* edge-box */
    .wrapper { max-width: 850px; }
    #edge .box {
        transform: translateY(300px);
        margin-left: 8px;
        width: 2.5em;
        height: 24em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: width 0.7s;
    }
    #edge .box:hover {
        width: 80%;
        height: 24em;
    }
    #edge .box div {
        display: inline-block;
        margin: 0;
    }
    #edge .box img {
        display: none;
        width: 15.3em;
        height: 22.1em;
        /* 9:13 */
        margin-top: 10px;
        margin-left: 10px;
        opacity: 0.4;
    }
    #edge .box:hover img {
        display: inline-block;
    }
    #edge .box img:hover {
        opacity: 1;
        cursor: pointer;
    }
    #edge .box img:active { opacity: 1; }

    /* movie-info */
    #movieInfo h1 {
        font-size: 5.7em;
        margin-bottom: 0.5em;
        width: 100%;
    }
    #movieInfo .release-date {
        font-size: 1.5em;
    }
    #movieInfo div { color: white; }
    .movie-info .info-area {
        float: left;
        width: 100%;
    }
    .movie-info .release-date { font-size: 18px; }
    .movie-info .info { font-size: 20px; }
    .movie-info .summary {
        margin-top: 18px;
        font-size: 1.5em;
        line-height: 1.3;
    }
    .movie-info .hashtag {
        margin-top: 18px;
        font-size: 1.5em;
        line-height: 1.3;
    }
    
    /* movie-info button */
    .button-box { width: 100%; }
    #movie-button1 {
        width: 100%;
        height: 6.5em;
    }
    #movie-button2 {
        width: 100%;
        height: 6.5em;
    }
    .movie-info .button-box { margin-top: 18px; }
    .movie-info .movie-button button { font-size: 2.5em; }
    .movie-info .movie-button button:hover {font-size: 2.6em; }
    
    /* poster */
    .poster-img {
        width: 500px;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 50px;
        padding: 10px;
        border: 4px double white;
    }

    /* carousel */
    #carousel h1 { font-size: 4em; }
    .carousel-wrapper div img {
        width: 100%;
        height: 170px;
    }
    
    /* recmd-movies */
    #recmdMovies h1 { font-size: 4em; }    
    .recmd-movies .movie {
        width: 45%;
        margin: auto;
        margin-right: 35px;
    }
    .recmd-movies .movie .movie-body {
        margin-top: 16px;
        margin-bottom: 40px;
        padding: 0px 6px;
        line-height: 1.35;
    }    
    .recmd-movies .movie .title {
        font-size: 2.5em;
    }
    .recmd-movies .movie .release-date {
        font-size: 1.5em;
        float: right;
    }
    .recmd-movies .movie .director {
        font-size:1.5em;
        clear: left;
    }
    
    /* footer */
    .footer{
        width: 100%;
    }    
    .footer-content {
        width: 100%;
        max-width: 80%;
        margin: auto;
        border-top: 1px solid #FFFFFF;
        
        padding-top: 40px;
        padding-bottom: 60px;
        color: #FFFFFF;
        font-size: 1.8em;
        line-height: 1.35;
    }
}