html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
/*    background-image: url('curtain_bg.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.container{
    height: 100%;
}
aside{
    z-index: 9999;
}
.laside{
    position: absolute;
    top: 0px;
    left: 0px;
}

.raside{
    position: absolute;
    top: 0px;
    right: 0px;
}

.section{
    width: 100%;
}

.content {
    height: 670px;
    position: relative;
    transform: translateY(30%);
    margin: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.slide{
    width: 1050px;
    height: 400px;
    clear: both;
    
    margin: auto;
    position: relative;

    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;

}
.slide .slide-item{
    display: inline-block;
    opacity: 50%;
    margin-left: 20px;
    margin-right: 20px;

    cursor: pointer;
}

.slide-item.active{
    opacity: 100%;
}

.buttons{
    width: 100%;
    height: 15px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.buttons .button{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color : #FAFAFA;
    opacity: 50%;
    margin-top: 30px;
    cursor: pointer;
}

.button.active{
    background-color: white;
    opacity: 100%;
}

.wrapper{
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

#carousel h1{
    color: white;
    font-size: 40px;
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}
.carousel-wrapper{
    width: 105%;
}

.carousel-wrapper div{
    margin: 8px;
}

.carousel-wrapper div img{
    width: 100%;
}

.wrapper#recmdMovies{
    color: #FFFFFF;
}

#recmdMovies h1{
    font-size: 30px;
    font-weight: bold;
}

.recmd-movies{
    width: 100%;
    max-width: 1020px;
    margin: auto;
    margin-top: 24px;
}

.recmd-movies .movie{
    max-width: 300px;
    display: inline-block;
    color: #FFFFFF;
    margin: auto;
    margin-left: -6px;
    margin-right: 60px;
}

.recmd-movies .movie:first-child{
    margin-left: 0px;
}
.recmd-movies .movie:last-child{
    margin-right: 0px;
}

.recmd-movies .movie .poster-area{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 428px;
}
.recmd-movies .movie .poster-area img{
    width: 100%;
    height: auto;
}

.recmd-movies .movie .movie-body{
    margin-top: 6px;
    padding: 0px 6px;
    line-height: 24px;
}
.recmd-movies .movie .title {
    font-size: 24px;
    font-weight: bold;
    display: inline;
}
.recmd-movies .movie .release-date{
    float: right;
}

.recmd-movies .movie .director{
    clear: left;
}