@charset "utf-8";

.movie-info #movie-button1 {
    margin-right: 0px;
    background-color: #66855c;
}

.movie-info #movie-button1:hover {
    background-color: rgb(52, 97, 62);
}

.movie-info #movie-button2 {
    margin-right: 8px;
    background-color: #c28222;
}

.movie-info #movie-button2:hover {
    background-color: #995e05;
}