@charset "utf-8";

.movie-info #movie-button1 {
    margin-right: 0px;
    background-color: #7383a0;
}

.movie-info #movie-button1:hover {
    background-color: #52658a;
}

.movie-info #movie-button2 {
    margin-right: 8px;
    background-color: #38426d;
}

.movie-info #movie-button2:hover {
    background-color: #252f61;
}